.presentation {

    &__background {
        position: absolute;
        width: 100vw;
        height: 150vh;
    }

    &__card {
        .card-bubble {
            background: rgba(0, 0, 0, 0.7);
            border-radius: .5rem;
            -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border: 1px solid rgba(255, 255, 255, .51);
            position: relative;
            width: 50%;
            height: auto;
            top: 10rem;
            left: 20rem;
            color: white;

            &__title {
                margin: 1rem;
            }

            &__text {
                margin: 3rem;
            }
        }
    }
}